<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Scribe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-2.0.8/b-3.2.0/b-html5-3.2.0/b-print-3.2.0/datatables.min.css" />
    <style>/* ... your styles ... */</style>
</head>
<body>
    @if (User.Identity.AuthenticationType == "Cookies")
    {
        <header>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

                <div class="container-fluid">

                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Scribe</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>

                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                        <ul class="navbar-nav flex-grow-1">

                            @* <li class="nav-item">

                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                            </li> *@
                        </ul>

                        @* <partial name="_LoginPartial" /> *@
                        @if (User.Identity.AuthenticationType == "Cookies")
                        {
                            <div class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @User.Identity.Name
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                        @* <li><a class ="dropdown-item" asp-page="/Pages/Account/Logout" asp-route-returnUrl="@Url.Page("/Index")">Logout</a></li> *@
                                        <form asp-controller="Account" asp-action="Logout" method="post">
                                            <button type="submit" class="dropdown-item">Logout</button>
                                        </form>
                                    </ul>
                                </li>
                            </div>
                        }
                    </div>

                </div>

            </nav>



        </header>
    }

    <div class="container-fluid">
        <div class="row">
            @if (User.Identity.AuthenticationType == "Cookies")
            {
                <nav class="col-md-2 ">
                    @await Html.PartialAsync("_SideNav")
                </nav>
            }

            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <partial name="_NotificationsPartial" />
                @if (User.Identity.AuthenticationType == "Cookies")
                {
                    <div class="pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">@ViewData["Title"]</h1>
                    </div>
                }
                <div id="modalContainer"></div>
                @RenderBody()
            </main>
        </div>
    </div>
    <br />
    <br />
    @if (User.Identity.AuthenticationType == "Cookies")
    {


        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - Scribe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }
    <!-- Include Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" rel="stylesheet" />

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- Include Bootstrap Bundle JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Include DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-2.0.8/b-3.2.0/b-html5-3.2.0/b-print-3.2.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    <!-- Include your site-specific JavaScript -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Include Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

<div id=" loading-overlay">
    <div class="spinner">

    </div>
</div>

</html>