@model IEnumerable<Scribe.Models.Model>

@{
    ViewData["Title"] = "ModelByCategory";
}

<h1>@ViewBag.CategoryName</h1>


<p>
    @* <a asp-action="CreateByCategory" asp-route-categoryId="@ViewBag.ThisCategoryId" class="btn btn-success">Create New</a> *@
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal" onclick="loadCreateByCPartial('Models',@ViewBag.ThisCategoryId)">
        Create Model
    </button>
</p>

<div class="row">
    <div class="col-md-10">
        <input type="text" id="searchInput" class="form-control" placeholder="Search...">
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover table-striped" id="dataTableData">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            <img src="/media/devices/@item.Image" width="100px" />
                        </td>
                        <td>
                            <a asp-action="AllocateSerialNumber" asp-route-id="@item.Id" class="btn btn-outline-primary">Serial Numbers</a> |
                            <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" onclick="loadEditPartial('Models',@item.Id)">
                                Edit
                            </button> |
                            <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDeletePartial('Models',@item.Id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>


</div>

@section Scripts {
   }