@model IEnumerable<Scribe.Models.Group>

@{
    ViewData["Title"] = "Group Allocations";
}



<style>
    .display {
        margin-bottom: 0;
    }
</style>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal" onclick="loadCreatePartial('Groups')">
    Create New
</button>

<table id="groupTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Devices
            </th>
            <th>
                Users
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.SerialNumberGroups != null && item.SerialNumberGroups.Any())
                    {
                        foreach (var sn in item.SerialNumberGroups)
                        {
                            <p class="display">
                                <small>
                                    @sn.SerialNumber?.Name
                                </small>
                            </p>
                        }
                    }
                    else
                    {
                        <p class="display">No serial numbers found.</p>
                    }
                </td>
                <td>
                    @if (item.UserGroups != null && item.UserGroups.Any())
                    {
                        foreach (var n in item.UserGroups)
                        {
                            <p class="display">
                                <small>
                                    @n.User?.Name
                                </small>
                            </p>
                        }
                    }
                    else
                    {
                        <p class="display">
                            <small>No users found.</small>
                        </p>
                    }
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-action="AllocateGroup" asp-route-id="@item.Id">Allocate</a> |
                    <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" onclick="loadEditPartial('Groups',@item.Id)">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDeletePartial('Groups',@item.Id)">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        // $(document).ready( function () {
        //     $('#groupTable').DataTable();
        // } );
    </script>
}