@model Scribe.Models.AllocationHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AllocationHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ADUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ADUsers.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllocationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllocationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeallocationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeallocationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
