@model IEnumerable<Scribe.Models.AllocationHistory>

@{
    ViewData["Title"] = "";
}



<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal" onclick="loadCreatePartial('AllocationHistories')">
    Create New
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADUsers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllocationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeallocationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADUsers.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllocationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeallocationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" onclick="loadEditPartial('AllocationHistories',@item.Id)">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDeletePartial('AllocationHistories',@item.Id)">
                        Delete
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
