@model IEnumerable<Scribe.Models.SerialNumber>

@{
    ViewData["Title"] = "Index";
}
<div id="modalContainer"></div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">

       
        <div class="row">
            <h1>All Devices (@ViewData["count"])</h1>
        </div>

        <table class="table" id="userTable">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Model.Brand)</th>
                    <th>@Html.DisplayNameFor(model => model.Model)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>User</th>
                    <th>@Html.DisplayNameFor(model => model.Condition)</th>
                    <th>@Html.DisplayNameFor(model => model.Department)</th>
                    <th>@Html.DisplayNameFor(model => model.Location)</th>
                    <th>@Html.DisplayNameFor(model => model.Creation)</th>
                    <th>@Html.DisplayNameFor(model => model.Allocation)</th>
                    <th>Allocated By</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="small" data-field="brand">@Html.DisplayFor(modelItem => item.Model.Brand.Name)</td>
                        <td class="small" data-field="model">@Html.DisplayFor(modelItem => item.Model.Name)</td>
                        <td class="small" data-field="serial">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="small" data-field="adusers">@Html.DisplayFor(modelItem => item.ADUsers.Name)</td>
                        <td class="small" data-field="condition">@Html.DisplayFor(modelItem => item.Condition.Name)</td>
                        <td class="small" data-field="department">@Html.DisplayFor(modelItem => item.Department.Name)</td>
                        <td class="small" data-field="location">@Html.DisplayFor(modelItem => item.Location.Name)</td>
                        <td class="small" data-field="creation">@Html.DisplayFor(modelItem => item.Creation)</td>
                        <td class="small" data-field="allocation">@Html.DisplayFor(modelItem => item.Allocation)</td>
                        <td class="small" data-field="allocation">
                            @if (item.AllocatedBy == null)
                            {
                                <span>No User</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.AllocatedBy)
                            }
                        </td>
                        <td>
                            <a asp-action="ViewHistory" class="btn btn-sm btn-outline-primary" asp-route-id="@item.Id">View</a> |
                            @* <a asp-action="Edit" class="btn btn-sm btn-outline-warning" asp-route-id="@item.Id">Edit</a> | *@
                            <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" onclick="loadEditPartial('SerialNumbers',@item.Id)">
                                Edit
                            </button> | 
                            <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDeletePartial('SerialNumbers',@item.Id)">
                                Delete
                            </button>
                            @* <a asp-action="Details" class="btn btn-sm btn-outline-info" asp-route-id="@item.Id">Details</a> | *@
                            @* <a asp-action="Delete" class="btn btn-sm btn-outline-danger" asp-route-id="@item.Id">Delete</a> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

       
    </div>
</div>


