@model IEnumerable<Scribe.Models.SerialNumber>

@{
    ViewData["Title"] = "";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <h1>All Devices (@ViewData["count"])</h1>
            </div>

            <table class="table table-responsive" id="allDevicesTable">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Model.Brand)</th>
                        <th>@Html.DisplayNameFor(model => model.Model)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>User</th>
                        <th>@Html.DisplayNameFor(model => model.Condition)</th>
                        <th>@Html.DisplayNameFor(model => model.Department)</th>
                        <th>@Html.DisplayNameFor(model => model.Location)</th>
                        <th>@Html.DisplayNameFor(model => model.Creation)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="small" data-field="brand">@((item.Model != null && item.Model.Brand != null) ? item.Model.Brand.Name : "N/A")</td>
                            <td class="small" data-field="model">@((item.Model != null) ? item.Model.Name : "N/A")</td>
                            <td class="small" data-field="serial">@item.Name</td>
                            <td class="small" data-field="adusers">
                                @if (item.ADUsers != null)
                                {
                                    @item.ADUsers.Name
                                }
                                else if (item.Group != null)
                                {
                                    @item.Group.Name <img src="/media/icons/static/g.svg">
                                }
                                else
                                {
                                    @Html.Raw("N/A")
                                }
                            </td>
                            <td class="small" data-field="condition">@((item.Condition != null) ? item.Condition.Name : "N/A")</td>
                            <td class="small" data-field="department">@((item.Department != null) ? item.Department.Name : "N/A")</td>
                            <td class="small" data-field="location">@((item.Location != null) ? item.Location.Name : "N/A")</td>
                            <td class="small" data-field="creation">@item.Creation</td>
                            <td>
                                <a asp-action="ViewHistory" class="btn btn-sm btn-outline-primary" asp-route-id="@item.Id">View</a> |
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" onclick="loadEditPartial('SerialNumbers',@item.Id)">
                                    Edit
                                </button> |
                                <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDeletePartial('SerialNumbers',@item.Id)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>